<div class="carousel-wrapper">
  <div class="carousel" #carousel (click)="clickHandler($event)">
    <div class="slides">
      <div *ngFor="let slide of slideImgs" class="slide"><img src="http://localhost:3000/{{slide}}" alt=""></div>
    </div>
    <ul class="indicators-wrapper">
      <li *ngFor="let slide of slideImgs; index as idx"><a href="#" class="indicator circle" [attr.data-slide-to]="idx"></a></li>
    </ul>
    <a href="#" class="controls prev" data-target="prev"><span><</span></a>
    <a href="#" class="controls next" data-target="next"><span>></span></a>
  </div>
</div>
